<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Line Chart</h4>
      </div>
      <div id="morris-line-chart" style="height: 300px; margin-bottom: 40px;"></div>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Area Chart</h4>
      </div>
      <div id="morris-area-chart" style="height: 300px;"></div>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Bar Chart</h4>
      </div>
      <div id="morris-bar-chart" style="height: 300px; margin-bottom: 90px;"></div>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Donut Chart</h4>
      </div>
      <div id="morris-donut-chart" style="height: 300px;"></div>
    </app-iq-card>
  </div>
</div>
