<div class="row row-eq-height">
  <div class="col-lg-4 col-md-12">
    <app-iq-card [isCardHeader]=false>
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase text-secondary mb-0 d-block">Live Users</h5>
          <h2 class="mb-0 d-block">350</h2>
        </div>
        <div class="col-auto">
          <div class="icon iq-icon-box rounded-circle iq-bg-primary rounded-circle">
            <i class="ri-add-box-line"></i>
          </div>
        </div>
      </div>
      <app-apex-chart card-bottom ids="chart1" [options]="chart1" ></app-apex-chart>

    </app-iq-card>
  </div>
  <div class="col-lg-2 col-md-6">
    <app-iq-card [isCardHeader]=false cardClass="iq-card wow zoomIn">
      <div class="row">
        <div class="col-lg-12 mb-2 d-flex justify-content-between">
          <div class="icon iq-icon-box rounded-circle iq-bg-warning rounded-circle">
            <i class="ri-account-box-line"></i>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <h6 class="card-title text-uppercase text-secondary mb-0">USERS</h6>
          <span class="h2 text-dark mb-0 counter">850,789</span>
        </div>
      </div>
      <p class="mb-0 text-muted mt-3">
        <span class="text-success mr-2"><i class="ri-arrow-up-fill"></i> 3.48%</span>
      </p>
    </app-iq-card>
  </div>
  <div class="col-lg-2 col-md-6">
    <app-iq-card [isCardHeader]=false cardClass="iq-card wow zoomIn">
      <div class="row">
        <div class="col-lg-12 mb-2 d-flex justify-content-between">
          <div class="icon iq-icon-box rounded-circle iq-bg-danger rounded-circle">
            <i class="ri-account-box-line"></i>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <h6 class="card-title text-uppercase text-secondary mb-0">SESSIONS</h6>
          <span class="h2 text-dark mb-0 counter">810,084</span>
        </div>
      </div>
      <p class="mb-0 text-muted mt-3">
        <span class="text-danger mr-2"><i class="ri-arrow-down-fill"></i> 10%</span>
      </p>
    </app-iq-card>
  </div>
  <div class="col-lg-2 col-md-6">
    <app-iq-card [isCardHeader]=false cardClass="iq-card wow zoomIn">
      <div class="row">
        <div class="col-lg-12 mb-2 d-flex justify-content-between">
          <div class="icon iq-icon-box rounded-circle iq-bg-success rounded-circle">
            <i class="ri-timer-2-line"></i>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <h6 class="card-title text-uppercase text-secondary mb-0">BOUNCE RATE</h6>
          <span class="h2 text-dark mb-0 counter">47.6</span>
        </div>
      </div>
      <p class="mb-0 text-muted mt-3">
        <span class="text-success mr-2"><i class="ri-arrow-up-fill"></i> 6.48%</span>
      </p>
    </app-iq-card>
  </div>
  <div class="col-lg-2 col-md-6">
    <app-iq-card [isCardHeader]=false cardClass="iq-card wow zoomIn">
      <div class="row">
        <div class="col-lg-12 mb-2 d-flex justify-content-between">
          <div class="icon iq-icon-box rounded-circle iq-bg-primary rounded-circle">
            <i class="ri-timer-2-line"></i>
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <h6 class="card-title text-uppercase text-secondary mb-0">DURATION</h6>
          <span class="h2 text-dark mb-0 counter">3.25</span>
        </div>
      </div>
      <p class="mb-0 text-muted mt-3">
        <span class="text-success mr-2"><i class="ri-arrow-up-fill"></i> 5.48%</span>
      </p>
    </app-iq-card>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col-lg-8 col-md-12">
    <app-iq-card cardClass="iq-card wow zoomIn" data-wow-delay="0.8s">
      <div card-header class="iq-header-title">
        <h4 class="card-title">Analytics</h4>
      </div>
      <div card-header class="iq-card-header-toolbar d-flex align-items-center">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link active">Days</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Weeks</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link">Months</a>
          </li>
        </ul>
      </div>
      <div card-bottom id="chartdiv" style="width: 100%; height: 500px"></div>
    </app-iq-card>

  </div>
  <div class="col-lg-4 col-md-12">
    <app-iq-card cardClass="iq-card wow fadeInUp"  data-wow-delay="0.6s">
      <div card-header class="iq-header-title">
        <h4 class="card-title">Devices</h4>
      </div>
      <div card-header class="iq-card-header-toolbar d-flex align-items-center">
        <div class="dropdown">
          <span class="dropdown-toggle text-primary" id="dropdownMenuButton5" data-toggle="dropdown">View All</span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-fill mr-2"></i>View</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-pencil-fill mr-2"></i>Edit</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-printer-fill mr-2"></i>Print</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-download-fill mr-2"></i>Download</a>
          </div>
        </div>
      </div>
      <app-apex-chart card-bottom ids="chart2" [options]="chart2"></app-apex-chart>
    </app-iq-card>
  </div>
</div>
<div class="row row-eq-height">
  <div class="col-md-12 col-lg-8 mb-5 mb-xl-0">
    <app-iq-card cardClass="iq-card wow fadeInUp" data-wow-delay="0.8s">
      <div card-header class="iq-header-title">
        <h4 class="card-title">Page visits</h4>
      </div>
      <div card-header class="iq-card-header-toolbar d-flex align-items-center">
        <div class="dropdown">
          <span class="dropdown-toggle dropdown-bg" id="dropdownMenuButton6" data-toggle="dropdown">
            See all <i class="ri-arrow-down-s-line ml-1 text-primary"></i>
          </span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton6">
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-fill mr-2"></i>View</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-pencil-fill mr-2"></i>Edit</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-printer-fill mr-2"></i>Print</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-download-fill mr-2"></i>Download</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr>
            <th scope="col">Page name</th>
            <th scope="col">Visitors</th>
            <th scope="col">Unique users</th>
            <th scope="col">Bounce rate</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of visitData; let i=index;">
            <td>{{row.site_url}}</td>
            <td>{{row.visitor}}</td>
            <td>{{row.unique_user}}</td>
            <td>
              <i class="ri-arrow-up-fill text-{{row.color}} mr-3"></i> 46,53%
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </app-iq-card>
  </div>
  <div class="col-lg-4">
    <app-iq-card cardClass="iq-card wow fadeInUp" data-wow-delay="0.8s">
      <div card-header class="iq-header-title">
        <h4 class="card-title">COUNTRIES</h4>
      </div>
      <div card-header class="iq-card-header-toolbar d-flex align-items-center">
        <div class="dropdown">
          <span class="dropdown-toggle text-primary" id="dropdownMenuButton7" data-toggle="dropdown">
            <i class="ri-more-2-fill"></i>
          </span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-eye-fill mr-2"></i>View</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-pencil-fill mr-2"></i>Edit</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-printer-fill mr-2"></i>Print</a>
            <a class="dropdown-item" href="javascript:void(0);"><i class="ri-file-download-fill mr-2"></i>Download</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="iq-details {{i==0?'':'mt-4'}}" *ngFor="let row of countryData; let i=index;">
            <span class="title text-dark">{{row.country_name}}</span>
            <div class="percentage float-right text-{{row.color}}">{{row.percent}} <span>%</span></div>
            <progressbar class="iq-progress-bar" [value]="row.percent" [type]="row.color" ></progressbar>
          </div>
        </div>
      </div>
    </app-iq-card>
    <app-apex-chart card-bottom ids="chart3" [options]="chart3"></app-apex-chart>
  </div>
</div>
