<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Basic Alerts</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="secondary">
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success">
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger" role="alert">
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning" role="alert">
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info" role="alert">
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light" role="alert">
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
      <alert type="dark" role="alert">
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Basic Alerts With Icons</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Basic Line Alerts</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary bg-white">
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary bg-white">
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success bg-white">
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger bg-white">
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning bg-white">
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info bg-white">
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light bg-white">
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Basic Line Alerts With Icons</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary bg-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary bg-white">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success bg-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger bg-white">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning bg-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info bg-white">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light bg-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Alerts With Background</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary text-white bg-primary">
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary bg-secondary text-white">
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success text-white bg-success">
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger text-white bg-danger">
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning text-white bg-warning">
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info text-white bg-info">
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light bg-light">
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Background Alerts With Icons</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary bg-primary text-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary bg-secondary text-white">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success bg-success text-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger bg-danger text-white">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning bg-warning text-white">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info bg-info text-white">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light" role="alert">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Alerts Dismissing</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary text-white bg-primary" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary text-white bg-secondary" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success text-white bg-success" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger text-white bg-danger" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning text-white bg-warning" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info text-white bg-info" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light bg-light" [dismissible]=true>
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Alerts Dismissing With Icons</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary text-white bg-primary" [dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>primary</b> alert—check it out!</div>
      </alert>
      <alert type="secondary text-white bg-secondary"[dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>secondary</b> alert—check it out!</div>
      </alert>
      <alert type="success text-white bg-success"[dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
      </alert>
      <alert type="danger text-white bg-danger"[dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>danger</b> alert—check it out!</div>
      </alert>
      <alert type="warning text-white bg-warning" [dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>warning</b> alert—check it out!</div>
      </alert>
      <alert type="info text-white bg-info"[dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>info</b> alert—check it out!</div>
      </alert>
      <alert type="light bg-light"[dismissible]=true>
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">A simple <b>light</b> alert—check it out!</div>
      </alert>
    </app-iq-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Alerts With Background</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary alert-primary">
        <div class="iq-alert-text">A simple primary alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="secondary alert-secondary">
        <div class="iq-alert-text">A simple secondary alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="success alert-success">
        <div class="iq-alert-text">A simple success alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="danger alert-danger">
        <div class="iq-alert-text">A simple danger alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="warning alert-warning">
        <div class="iq-alert-text">A simple warning alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="info alert-info">
        <div class="iq-alert-text">A simple info alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="light alert-light">
        <div class="iq-alert-text">A simple light alert with <a href="javascript:void(0);" class="alert-link">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Background Alerts With Icons</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <alert type="primary text-white bg-primary">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">simple primary alert with <a href="javascript:void(0);" class="alert-link text-white">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="secondary text-white bg-secondary">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">simple primary alert with <a href="javascript:void(0);" class="alert-link text-white">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="success text-white bg-success">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">simple primary alert with <a href="javascript:void(0);" class="alert-link text-white">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="danger text-white bg-danger">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">simple primary alert with <a href="javascript:void(0);" class="alert-link text-white">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="warning text-white bg-warning">
        <div class="iq-alert-icon">
          <i class="ri-alert-line"></i>
        </div>
        <div class="iq-alert-text">simple primary alert with <a href="javascript:void(0);" class="alert-link text-white">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
      <alert type="info text-white bg-info">
        <div class="iq-alert-icon">
          <i class="ri-information-line"></i>
        </div>
        <div class="iq-alert-text">simple primary alert with <a href="javascript:void(0);" class="alert-link text-white">an
            example link</a>. Give it a click if you like.
        </div>
      </alert>
    </app-iq-card>
  </div>
  <div class="col-sm-12">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Additional content</h4>
      </div>
      <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever
      </p>
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="alert alert-primary" role="alert">
            <div class="iq-alert-text">
              <h5 class="alert-heading">Well done!</h5>
              <p>Aww yeah, you successfully read this important alert message. This
                example text is going to run a bit longer so that you can see how
                spacing within an alert works with this kind of content.
              </p>
              <hr>
              <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                keep things nice and tidy.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6">
          <alert type="success">
            <div class="iq-alert-text">
              <h5 class="alert-heading">Well done!</h5>
              <p>Aww yeah, you successfully read this important alert message. This
                example text is going to run a bit longer so that you can see how
                spacing within an alert works with this kind of content.
              </p>
              <hr>
              <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                keep things nice and tidy.
              </p>
            </div>
          </alert>
        </div>
      </div>
    </app-iq-card>
  </div>
</div>
