<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Line Chart</h4>
      </div>
      <app-apex-chart card-bottom ids="line1" [options]="line1"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Column Chart</h4>
      </div>
      <app-apex-chart card-bottom ids="column1" [options]="column1"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Mixes Chart</h4>
      </div>
      <app-apex-chart card-bottom ids="mixed1" [options]="mixed1"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title"> Bubble Charts</h4>
      </div>
      <app-apex-chart card-bottom ids="bubble1" [options]="bubble1"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title"> Pie Charts</h4>
      </div>
      <app-apex-chart card-bottom ids="chart1" [options]="chart1"></app-apex-chart>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Line Area Chart</h4>
      </div>
      <app-apex-chart card-bottom ids="area1" [options]="area1"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Bar Chart</h4>
      </div>
      <app-apex-chart card-bottom ids="bar2" [options]="bar2"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title"> Candlestick Charts</h4>
      </div>
      <app-apex-chart card-bottom ids="candle1" [options]="candle1"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">  Scatter Charts</h4>
      </div>
      <app-apex-chart card-bottom ids="scatter" [options]="scatter"></app-apex-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Radial Bar Charts</h4>
      </div>
      <app-apex-chart card-bottom ids="radial" [options]="radial"></app-apex-chart>
    </app-iq-card>
  </div>
</div>
