<div class="row">
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Basic line Chart</h4>
      </div>
      <div id="high-basicline-chart"></div>
      <app-high-chart card-bottom ids="chart1" [options]="chart1"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Column and Bar Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart2" [options]="chart2"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Pie Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart3" [options]="chart3"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Dynamic Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart4" [options]="chart4"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Gauges Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart5" [options]="chart5"></app-high-chart>
    </app-iq-card>
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Area Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart6" [options]="chart6"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Scatter plot Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart7" [options]="chart7"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Dual axes, line and column Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart8" [options]="chart8"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">3D Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart9" [options]="chart9"></app-high-chart>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Bar With Nagative Chart</h4>
      </div>
      <app-high-chart card-bottom ids="chart10" [options]="chart10"></app-high-chart>
    </app-iq-card>
  </div>
</div>
