<div class="row">
  <div class="col-sm-12">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Editable Table</h4>
      </div>
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
           <button class="btn btn-success"><i
              class="fa fa-plus fa-2x pr-2" aria-hidden="true"><span class="pl-3">Add New</span></i></button></span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Age</th>
              <th class="text-center">Company Name</th>
              <th class="text-center">Country</th>
              <th class="text-center">City</th>
              <th class="text-center">Sort</th>
              <th class="text-center">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true">Gio Metric</td>
              <td class="pt-3-half" contenteditable="true">25</td>
              <td class="pt-3-half" contenteditable="true">Deepends</td>
              <td class="pt-3-half" contenteditable="true">Spain</td>
              <td class="pt-3-half" contenteditable="true">Madrid</td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
              <td class="pt-3-half" contenteditable="true">Manny Petty</td>
              <td class="pt-3-half" contenteditable="true">45</td>
              <td class="pt-3-half" contenteditable="true">Insectus</td>
              <td class="pt-3-half" contenteditable="true">France</td>
              <td class="pt-3-half" contenteditable="true">San Francisco</td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
              <td class="pt-3-half" contenteditable="true">Lucy Tania</td>
              <td class="pt-3-half" contenteditable="true">26</td>
              <td class="pt-3-half" contenteditable="true">Isotronic</td>
              <td class="pt-3-half" contenteditable="true">Germany</td>
              <td class="pt-3-half" contenteditable="true">Frankfurt am Main</td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr class="hide">
              <td class="pt-3-half" contenteditable="true">Anna Mull</td>
              <td class="pt-3-half" contenteditable="true">35</td>
              <td class="pt-3-half" contenteditable="true">Portica</td>
              <td class="pt-3-half" contenteditable="true">USA</td>
              <td class="pt-3-half" contenteditable="true">London</td>
              <td class="pt-3-half">
                <span class="table-up"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a></span>
                <span class="table-down"><a href="#!" class="indigo-text"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></span>
              </td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-iq-card>
  </div>
</div>
