<div class="row row-eq-height">
  <div class="col-md-3">
    <app-iq-card cardClass="iq-card calender-small" [isCardHeader]=false>
      <input type="hidden" class="displayCalendar d-none">
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title ">Classification</h4>
      </div>
      <div card-header class="iq-card-header-toolbar d-flex align-items-center">
        <a href="javascript:void(0);"><i class="fa fa-plus  mr-0" aria-hidden="true"></i></a>
      </div>
      <ul class="m-0 p-0 job-classification">
        <li class=""><i class="ri-check-line bg-danger"></i>Meeting</li>
        <li class=""><i class="ri-check-line bg-success"></i>Business travel</li>
        <li class=""><i class="ri-check-line bg-warning"></i>Personal Work</li>
        <li class=""><i class="ri-check-line bg-info"></i>Team Project</li>
      </ul>
    </app-iq-card>
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Today's Schedule</h4>
      </div>
      <ul class="m-0 p-0 today-schedule">
        <li class="d-flex">
          <div class="schedule-icon"><i class="ri-checkbox-blank-circle-fill text-primary"></i></div>
          <div class="schedule-text"> <span>Web Design</span>
            <span>09:00 to 12:00</span></div>
        </li>
        <li class="d-flex">
          <div class="schedule-icon"><i class="ri-checkbox-blank-circle-fill text-success"></i></div>
          <div class="schedule-text"> <span>Participate in Design</span>
            <span>09:00 to 12:00</span></div>
        </li>
      </ul>
    </app-iq-card>
  </div>
  <div class="col-md-9">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Book Appointment</h4>
      </div>
      <div card-header class="iq-card-header-toolbar d-flex align-items-center">
        <a href="javascript:void(0);" class="btn btn-primary"><i class="ri-add-line mr-2"></i>Book Appointment</a>
      </div>
      <app-full-calendar [calendarEvents]="calendarEvents"></app-full-calendar>
    </app-iq-card>

  </div>
</div>



