<ul [class]="listClass">
  <li *ngFor="let listItem of listItems" [class]="(listItem.isHeading ? 'iq-menu-title' : activeLink(listItem) && listItem.children ? 'active' : activeLink(listItem) ? 'active' : '')">

    <!-- Heading Menu Items -->
    <i *ngIf=listItem.isHeading [class]="listItem.icon"></i>
    <span *ngIf=listItem.isHeading>{{ listItem.title }}</span>

    <!-- Menu Items -->
    <a href="javascript:void(0)" *ngIf=!listItem.isHeading&&listItem.children  [class]="'iq-waves-effect '+ activeLink(listItem) && listItem.children ? 'active' : activeLink(listItem) ? 'active' : ''"
       data-toggle="collapse" [attr.data-target]="'#'+listItem.name" aria-expanded="false"
       [attr.aria-controls]="listItem.name"
    >
      <i *ngIf=listItem.isIconClass [class]="listItem.icon"></i><span>{{ listItem.title }}</span>
      <i *ngIf="listItem.children" class="ri-arrow-right-s-line iq-arrow-right"></i>
    </a>

    <a href="javascript:void(0)" *ngIf=!listItem.isHeading&&!listItem.children
        class="iq-waves-effect" [routerLink]="listItem.link != '' ? [listItem.link] : []"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
    >
      <i *ngIf=listItem.isIconClass [class]="listItem.icon"></i><span>{{ listItem.title }}</span>
      <small *ngIf="listItem.append" class="badge badge-pill badge-primary float-right font-weight-normal ml-auto">{{ listItem.append }}</small>
      <i *ngIf="listItem.children" class="ri-arrow-right-s-line iq-arrow-right"></i>
    </a>
    <!-- Child Menu Items -->
    <app-list-style1 *ngIf="listItem.children" listClass="iq-submenu" [class]="'collapse '+(activeLink(listItem) && listItem.children ? 'show' : activeLink(listItem) ? 'show' : '')" [listItems]="listItem.children" [id]="listItem.name" data-parent="#iq-sidebar-toggle"></app-list-style1>

  </li>
</ul>
