<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <app-iq-card [isCardHeader]=false cardClass="bg-white border mb-4 text-center">
      <span class="font-size-16 text-uppercase">Basic</span>
      <h2 class="mb-4 display-3 font-weight-bolder ">$26<small class="font-size-14 text-muted">/ Month</small></h2>
      <ul class="list-unstyled line-height-4 mb-0">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
      </ul>
      <a href="javascript:void(0);" class="btn btn-primary mt-5">Start Starter</a>
    </app-iq-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <app-iq-card [isCardHeader]=false cardClass="text-white mb-4 border bg-primary text-center">
      <span class="font-size-16 text-uppercase">Basic</span>
      <h2 class="mb-4 display-3 font-weight-bolder text-white">$99<small class="font-size-14 text-white-50">/ Month</small></h2>
      <ul class="list-unstyled line-height-4 mb-0 ">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
      </ul>
      <a href="javascript:void(0);" class="btn btn-light btn-block mt-5">Start Starter</a>
    </app-iq-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <app-iq-card [isCardHeader]=false cardClass="bg-white mb-4 border text-center">
      <span class="font-size-16 text-uppercase">Basic</span>
      <h2 class="mb-4 display-3 font-weight-bolder ">$39<small class="font-size-14 text-muted">/ Month</small></h2>
      <ul class="list-unstyled line-height-4 mb-0">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
      </ul>
      <a href="javascript:void(0);" class="btn btn-primary mt-5">Start Starter</a>
    </app-iq-card>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <app-iq-card [isCardHeader]=false cardClass="bg-white mb-4 border text-center">
      <span class="font-size-16 text-uppercase">Basic</span>
      <h2 class="mb-4 display-3 font-weight-bolder ">$25<small class="font-size-14 text-muted">/ Month</small></h2>
      <ul class="list-unstyled line-height-4 mb-0">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
      </ul>
      <a href="javascript:void(0);" class="btn btn-primary mt-5">Start Starter</a>
    </app-iq-card>
  </div>
  <div class="col-lg-3">
    <div class="card bg-dark text-white text-center mb-4">
      <img src="/assets/images/page-img/25.jpg" class="card-img" alt="#">
      <div class="card-img-overlay">
          <h2 class="mb-4 display-3 font-weight-bolder text-white">19<small class="font-size-14 text-white">$ / Month</small></h2>
          <ul class="list-unstyled line-height-4 mb-0 ">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit</li>
          </ul>
          <button type="button" class="btn btn-primary mt-5">Get started</button>
      </div>
  </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-dark text-white text-center mb-4">
      <img src="/assets/images/page-img/26.jpg" class="card-img" alt="#">
      <div class="card-img-overlay">
          <h2 class="mb-4 display-3 font-weight-bolder text-white">19<small class="font-size-14 text-white">$ / Month</small></h2>
          <ul class="list-unstyled line-height-4 mb-0 ">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit</li>
          </ul>
          <button type="button" class="btn btn-primary mt-5">Get started</button>
      </div>
  </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-dark text-white text-center mb-4">
      <img src="/assets/images/page-img/27.jpg" class="card-img" alt="#">
      <div class="card-img-overlay">
          <h2 class="mb-4 display-3 font-weight-bolder text-white">19<small class="font-size-14 text-white">$ / Month</small></h2>
          <ul class="list-unstyled line-height-4 mb-0 ">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>Nulla volutpat aliquam velit</li>
          </ul>
          <button type="button" class="btn btn-primary mt-5">Get started</button>
      </div>
  </div>
  </div>
  <div class="col-lg-3">
    <div class="card bg-dark text-white text-center mb-4">
        <img src="/assets/images/page-img/28.jpg" class="card-img" alt="#">
        <div class="card-img-overlay">
            <h2 class="mb-4 display-3 font-weight-bolder text-white">19<small class="font-size-14 text-white">$ / Month</small></h2>
            <ul class="list-unstyled line-height-4 mb-0 ">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit</li>
            </ul>
            <button type="button" class="btn btn-primary mt-5">Get started</button>
        </div>
    </div>
</div>
</div>

