<div class="row">
  <div class="col-sm-12 col-lg-12">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Simple Wizard</h4>
      </div>
      <form id="form-wizard1" class="text-center mt-4">
        <ul id="top-tab-list" class="p-0">
          <li id="account" [class]="currentTab === 'a-form' ? 'active': account ? 'active done' : ''">
            <a href="javascript:void(0);">
              <i class="ri-lock-unlock-line"></i><span>Account</span>
            </a>
          </li>
          <li id="personal" [class]="currentTab === 'p-form' ? 'active': personal ? 'active done' : ''">
            <a href="javascript:void(0);">
              <i class="ri-user-fill"></i><span>Personal</span>
            </a>
          </li>
          <li id="image" [class]="currentTab === 'i-form' ? 'active': image ? 'active done' : ''">
            <a href="javascript:void(0);">
              <i class="ri-camera-fill"></i><span>Image</span>
            </a>
          </li>
          <li id="confirm" [class]="currentTab === 'f-form' ? 'active': ''">
            <a href="javascript:void(0);">
              <i class="ri-check-fill"></i><span>Finish</span>
            </a>
          </li>
        </ul>
        <!-- fieldsets -->
        <fieldset [class]="currentTab === 'a-form' ? 'd-block': 'd-none'">
          <div class="form-card text-left">
            <div class="row">
              <div class="col-7">
                <h3 class="mb-4">Account Information:</h3>
              </div>
              <div class="col-5">
                <h2 class="steps">Step 1 - 4</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email: *</label>
                  <input type="email" class="form-control" name="email" placeholder="Email Id" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="uname">Username: *</label>
                  <input type="text" class="form-control" name="uname" placeholder="UserName" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="pwd">Password: *</label>
                  <input type="password" class="form-control" name="pwd" placeholder="Password" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cpwd">Confirm Password: *</label>
                  <input type="password" class="form-control" name="cpwd" placeholder="Confirm Password" />
                </div>
              </div>
            </div>
          </div>
          <button type="button" name="next" (click)="currentTab = 'p-form';account = true;" class="btn btn-primary next action-button float-right" value="Next" >Next</button>
        </fieldset>
        <fieldset [class]="currentTab === 'p-form' ? 'd-block': 'd-none'">
          <div class="form-card text-left">
            <div class="row">
              <div class="col-7">
                <h3 class="mb-4">Personal Information:</h3>
              </div>
              <div class="col-5">
                <h2 class="steps">Step 2 - 4</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname">First Name: *</label>
                  <input type="text" class="form-control" name="fname" placeholder="First Name" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lname">Last Name: *</label>
                  <input type="text" class="form-control" name="lname" placeholder="Last Name" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phno">Contact No.: *</label>
                  <input type="text" class="form-control" name="phno" placeholder="Contact No." />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phno_2">Alternate Contact No.: *</label>
                  <input type="text" class="form-control" name="phno_2" placeholder="Alternate Contact No." />
                </div>
              </div>
            </div>
          </div>
          <button type="button" name="next" (click)="currentTab = 'i-form';personal = true;" class="btn btn-primary next action-button float-right" value="Next" >Next</button>
          <button type="button" name="previous" (click)="currentTab = 'a-form';" class="btn btn-dark previous action-button-previous float-right mr-3" value="Previous" >Previous</button>
        </fieldset>
        <fieldset [class]="currentTab === 'i-form' ? 'd-block': 'd-none'">
          <div class="form-card text-left">
            <div class="row">
              <div class="col-7">
                <h3 class="mb-4">Image Upload:</h3>
              </div>
              <div class="col-5">
                <h2 class="steps">Step 3 - 4</h2>
              </div>
            </div>
            <div class="form-group">
              <label for="pic">Upload Your Photo:</label>
              <input type="file" class="form-control" name="pic" accept="image/*">
            </div>
            <div class="form-group">
              <label for="pic-2">Upload Signature Photo:</label>
              <input type="file" class="form-control" name="pic-2" accept="image/*">
            </div>
          </div>
          <button type="button" name="next" (click)="currentTab = 'f-form';image = true;" class="btn btn-primary next action-button float-right" value="Submit" >Submit</button>
          <button type="button" name="previous" (click)="currentTab = 'p-form';" class="btn btn-dark previous action-button-previous float-right mr-3" value="Previous" >Previous</button>
        </fieldset>
        <fieldset [class]="currentTab === 'f-form' ? 'd-block': 'd-none'">
          <div class="form-card">
            <div class="row">
              <div class="col-7">
                <h3 class="mb-4 text-left">Finish:</h3>
              </div>
              <div class="col-5">
                <h2 class="steps">Step 4 - 4</h2>
              </div>
            </div> <br><br>
            <h2 class="text-success text-center"><strong>SUCCESS !</strong></h2> <br>
            <div class="row justify-content-center">
              <div class="col-3"> <img src="../../../../assets/images/page-img/img-success.png" class="fit-image"> </div>
            </div> <br><br>
            <div class="row justify-content-center">
              <div class="col-7 text-center">
                <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </app-iq-card>
  </div>
</div>
