<app-loader></app-loader>

<section class="sign-in-page bg-white">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-sm-6 align-self-center">
          <router-outlet></router-outlet>
      </div>
      <div class="col-sm-6 text-center">
        <div class="sign-in-detail text-white" style="background: url(./assets/images/login/2.jpg) no-repeat 0 0; background-size: cover;">
          <a class="sign-in-logo mb-5" href="javascript:void(0);"><img src="./assets/images/logo-white.png" class="img-fluid" alt="logo"></a>
          <owl-carousel-o [options]="authSlideOptions">
            <ng-template carouselSlide *ngFor="let slide of authSlides">
              <div class="item">
                <img [src]="slide.image" class="img-fluid mb-4" alt="logo">
                <h4 class="mb-1 text-white">{{ slide.title }}</h4>
                <p>{{ slide.description }}</p>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
