<div class="row">
    <div class="col-sm-3">
        <app-iq-card [isCardHeader]=false>
            <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            <a href="javascript:void(0);" class="btn btn-primary">Button</a>
        </app-iq-card>
    </div>
    <div class="col-sm-3">
        <app-iq-card [isCardHeader]=false>
            <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            <p>It is a long established fact that a the readable content of a page when looking at its layout.</p>
            <a href="javascript:void(0);" class="card-link">Card link</a>
            <a href="javascript:void(0);" class="card-link">Another link</a>
        </app-iq-card>
    </div>
    <div class="col-sm-3">
        <app-iq-card [isCardHeader]=false>
            <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </app-iq-card>
    </div>
    <div class="col-sm-3">
      <div class="card iq-mb-3">
        <img src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        <div class="card-body">
           <h4 class="card-title">Card title</h4>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item">Cras justo odio</li>
        </ul>
        <div class="card-body">
           <a href="javascript:void(0);" class="card-link">Card link</a>
           <a href="javascript:void(0);" class="card-link">Another link</a>
        </div>
     </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <app-iq-card [isCardHeader]=false>
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            <a href="javascript:void(0);" class="btn btn-primary btn-block">Go somewhere</a>
        </app-iq-card>
    </div>
    <div class="col-sm-6">
        <app-iq-card [isCardHeader]=false>
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            <a href="javascript:void(0);" class="btn btn-primary btn-block">Go somewhere</a>
        </app-iq-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <app-iq-card [isCardHeader]=false>
            <div card-top class="card-header">
                Featured
            </div>
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card [isCardHeader]=false>
            <div card-top class="card-header">
                Quote
            </div>
            <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card [isCardFooter]=true [isCardHeader]=false>
            <div card-top class="card-header">
                Featured
            </div>
            <a href="javascript:void(0);" class="btn btn-primary">Go somewhere</a>
            <div card-footer>
                2 days ago
            </div>
        </app-iq-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <app-iq-card [isCardHeader]=false>
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0);" class="btn btn-primary btn-block">Go somewhere</a>
        </app-iq-card>
    </div>
    <div class="col-lg-4 text-center">
        <app-iq-card [isCardHeader]=false>
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0);" class="btn btn-primary btn-block">Go somewhere</a>
        </app-iq-card>
    </div>
    <div class="col-lg-4 text-right">
        <app-iq-card [isCardHeader]=false>
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="javascript:void(0);" class="btn btn-primary btn-block">Go somewhere</a>
        </app-iq-card>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <app-iq-card [isCardHeader]=false>
            <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </app-iq-card>
    </div>
    <div class="col-sm-4">
        <app-iq-card [isCardHeader]=false>
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <img card-bottom src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        </app-iq-card>
    </div>
    <div class="col-sm-4">
        <app-iq-card cardClass="card bg-dark text-white iq-mb-3" [isCardHeader]=false [isCardBody]=false>
            <img card-top src="/assets/images/page-img/07.jpg" class="card-img" alt="#">
            <div card-bottom class="card-img-overlay">
                <h4 class="card-title text-white">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
             </div>
        </app-iq-card>
    </div>
</div>

<!-- pending work[start] -->
<div class="row">
    <div class="col-sm-12">
        <h3 card-top class="mt-4 mb-3">Horizontal Card</h3>
    </div>
    <div class="col-lg-6">
      <app-card-with-image>
        <img card-image src="assets/images/page-img/08.jpg" class="card-img" alt="#">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in. a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </app-card-with-image>
    </div>
  <div class="col-lg-6">
    <app-card-with-image cardBodyClass="card-body text-right" cardRowClass="row no-gutters flex-row-reverse">
      <img card-image src="assets/images/page-img/09.jpg" class="card-img" alt="#">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in. a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </app-card-with-image>
  </div>
</div>
<!-- pending work[start] -->

<div class="row">
    <div class="col-sm-12">
        <h3 class="mt-4 mb-3">Card Colored Styles</h3>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card text-white bg-primary iq-mb-3"  [isCardHeader]=false>
            <h4  class="card-title text-white">Primary card title</h4>
            <blockquote class="blockquote mb-0">
                <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title" class="text-white" >Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-white bg-secondary"  [isCardHeader]=false>
            <h4  class="card-title text-white">Secondary card title</h4>
            <blockquote class="blockquote mb-0">
                <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title" class="text-white" >Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-white bg-success"  [isCardHeader]=false>
            <h4  class="card-title text-white">Success card title</h4>
            <blockquote class="blockquote mb-0">
                <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title" class="text-white" >Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-white bg-danger"  [isCardHeader]=false>
            <h4  class="card-title text-white">Danger card title</h4>
            <blockquote class="blockquote mb-0">
                <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title" class="text-white" >Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-white bg-warning"  [isCardHeader]=false>
            <h4  class="card-title text-white">Warning card title</h4>
            <blockquote class="blockquote mb-0">
                <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title" class="text-white" >Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-white bg-info"  [isCardHeader]=false>
            <h4  class="card-title text-white">Info card title</h4>
            <blockquote class="blockquote mb-0">
                <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title" class="text-white" >Source Title</cite></footer>
            </blockquote>
        </app-iq-card>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3 class="mt-4 mb-3">Border Card</h3>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-primary" [isCardHeader]=false>
            <h4 class="card-title text-primary">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card's content.</p>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-secondary" [isCardHeader]=false>
            <h4 class="card-title text-secondary">Secondary card title</h4>
            <p class="card-text">Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card's content.</p>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-success" [isCardHeader]=false>
            <h4 class="card-title text-success">Success card title</h4>
            <p class="card-text">Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card's content.</p>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-danger" [isCardHeader]=false>
            <h4 class="card-title text-danger">Danger card title</h4>
            <p class="card-text">Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card's content.</p>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-warning" [isCardHeader]=false>
            <h4 class="card-title text-warning">Warning card title</h4>
            <p class="card-text">Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card's content.</p>
        </app-iq-card>
    </div>
    <div class="col-lg-4">
        <app-iq-card cardClass="card iq-mb-3 text-info" [isCardHeader]=false>
            <h4 class="card-title text-info">Info card title</h4>
            <p class="card-text">Some quick example text to build on the card title  text to build on the card title and make up the bulk of the card's content.</p>
        </app-iq-card>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3 class="mt-4 mb-3">Card groups</h3>
  </div>
  <div class="col-sm-12">
    <div class="card-group iq-mb-3">
      <div class="card">
        <img src="assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
      <h3 class="mb-3">Card Masonry Columns</h3>
    </div>
    <div class="card-columns">
      <app-iq-card cardClass="card iq-mb-3" [isCardHeader]=false>
        <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </app-iq-card>
      <app-iq-card cardClass="card iq-mb-3">
        <blockquote class="blockquote mb-0">
          <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
             <small class="text-muted">
             Someone famous in <cite title="Source Title">Source Title</cite>
             </small>
          </footer>
       </blockquote>
      </app-iq-card>
      <app-iq-card cardClass="card iq-mb-3" [isCardHeader]=false>
        <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </app-iq-card>
      <app-iq-card cardClass="card bg-primary text-white text-center iq-mb-3" [isCardHeader]=false>
        <blockquote class="blockquote mb-0">
          <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
             <small class="text-white">
             Someone famous in <cite title="Source Title">Source Title</cite>
             </small>
          </footer>
       </blockquote>
      </app-iq-card>
      <app-iq-card cardClass="card text-center iq-mb-3" [isCardHeader]=false>
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </app-iq-card>
      <app-iq-card cardClass="card iq-mb-3" [isCardHeader]=false [isCardBody]=false>
        <img card-top src="/assets/images/page-img/07.jpg" class="card-img-top" alt="#">
      </app-iq-card>
      <app-iq-card cardClass="card text-right iq-mb-3" [isCardHeader]=false>
        <blockquote class="blockquote mb-0">
          <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
             <small class="text-muted">
             Someone famous in <cite title="Source Title">Source Title</cite>
             </small>
          </footer>
       </blockquote>
      </app-iq-card>
      <app-iq-card cardClass="card iq-mb-3" [isCardHeader]=false>
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </app-iq-card>
    </div>

  </div>
