<div class="row">
  <div class="col-lg-3">
    <div class="iq-card">
      <div class="iq-card-body">
        <div class="">
          <div class="iq-email-list">
            <button class="btn btn-primary btn-lg btn-block mb-3 font-size-16 p-3" (click)="openModal(composeEmail)">
              <i class="ri-send-plane-line mr-2"></i>New Message
            </button>
            <app-tab-nav
              tabClass="iq-email-ui nav flex-column nav-pills"
              tagToggleType="pill"
              [tabNavItems]="tabNavItems">
            </app-tab-nav>

            <h6 class="mt-4 mb-3">Labels</h6>
            <ul class="iq-email-ui iq-email-label">
              <li><a href="javascript:void(0);"><i class="ri-focus-fill text-primary"></i>Personal</a></li>
              <li><a href="javascript:void(0);"><i class="ri-focus-fill text-danger"></i>Company</a></li>
              <li><a href="javascript:void(0);"><i class="ri-focus-fill text-success"></i>Important</a></li>
              <li><a href="javascript:void(0);"><i class="ri-focus-fill text-info"></i>Private</a></li>
              <li><a href="javascript:void(0);"><i class="ri-focus-fill text-warning"></i>Private</a></li>
              <li><a href="javascript:void(0);"><i class="ri-add-circle-line"></i>Add New Labels</a></li>
            </ul>
            <div class="iq-progress-bar-linear d-inline-block w-100">
              <h6 class="mt-4 mb-3">Storage</h6>
              <div class="iq-progress-bar">
                <span class="bg-danger" data-percent="90"></span>
              </div>
              <span class="mt-1 d-inline-block w-100">7.02 GB (46%) of 15 GB used</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 mail-box-detail">
    <div class="iq-card">
      <div class="iq-card-body p-0">
        <div class="">
          <div class="iq-email-to-list p-3">
            <div class="d-flex justify-content-between">
              <ul>
                <li>
                  <a href="javascript:void(0);" data-toggle="dropdown">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1"><i
                        class="ri-arrow-down-s-line"></i></label>
                    </div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="javascript:void(0);">Action</a>
                    <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                  </div>
                </li>
                <li data-toggle="tooltip" data-placement="top" title="Reload"><a href="javascript:void(0);"><i
                  class="ri-restart-line"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Archive"><a href="javascript:void(0);"><i
                  class="ri-mail-open-line"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Spam"><a href="javascript:void(0);"><i
                  class="ri-information-line"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Delete"><a href="javascript:void(0);"><i
                  class="ri-delete-bin-line"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Inbox"><a href="javascript:void(0);"><i
                  class="ri-mail-unread-line"></i></a></li>
                <li data-toggle="tooltip" data-placement="top" title="Zoom"><a href="javascript:void(0);"><i
                  class="ri-drag-move-2-line"></i></a></li>
              </ul>
              <div class="iq-email-search d-flex">
                <form class="mr-3 position-relative">
                  <div class="form-group mb-0">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Search">
                    <a class="search-link" href="javascript:void(0);"><i class="ri-search-line"></i></a>
                  </div>
                </form>
                <ul>
                  <li class="mr-3">
                    <a class="font-size-14" href="javascript:void(0);" data-toggle="dropdown">
                      1 - 50 of 505
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="javascript:void(0);">20 per page</a>
                      <a class="dropdown-item" href="javascript:void(0);">50 per page</a>
                      <a class="dropdown-item" href="javascript:void(0);">100 per page</a>
                    </div>
                  </li>
                  <li data-toggle="tooltip" data-placement="top" title="Privious"><a href="javascript:void(0);"><i
                    class="ri-arrow-left-s-line"></i></a></li>
                  <li data-toggle="tooltip" data-placement="top" title="Next"><a href="javascript:void(0);"><i
                    class="ri-arrow-right-s-line"></i></a></li>
                  <li class="mr-0" data-toggle="tooltip" data-placement="top" title="Setting"><a href="javascript:void(0);"><i
                    class="ri-list-settings-line"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="iq-email-listbox">
            <div class="tab-content">
              <div class="tab-pane fade show active" role="tabpanel" id="mail-inbox">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let inboxItem of inboxItems"
                    [classList]="(inboxItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="inboxItem"></app-email-item>
                  </li>
                </ul>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="mail-starred">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let starredItem of starredItems"
                    [classList]="(starredItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="starredItem"></app-email-item>
                  </li>
                </ul>
              </div>


              <div class="tab-pane fade" role="tabpanel" id="mail-snoozed">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let snoozedItem of snoozedItems"
                    [classList]="(snoozedItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="snoozedItem"></app-email-item>
                  </li>
                </ul>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="mail-draft">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let draftItem of draftItems"
                    [classList]="(draftItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="draftItem"></app-email-item>
                  </li>
                </ul>
              </div>


              <div class="tab-pane fade" role="tabpanel" id="mail-sent">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let sentItem of sentItems"
                    [classList]="(sentItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="sentItem"></app-email-item>
                  </li>
                </ul>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="mail-trash">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let trashItem of trashItems"
                    [classList]="(trashItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="trashItem"></app-email-item>
                  </li>
                </ul>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="mail-important">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let importantItem of importantItems"
                    [classList]="(importantItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="importantItem"></app-email-item>
                  </li>
                </ul>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="mail-spam">
                <ul class="iq-email-sender-list">
                  <li (click)="showEmailDetails('')"
                    *ngFor="let spamItem of spamItems"
                    [classList]="(spamItem.is_unread ? 'iq-unread' : '')">
                    <app-email-item [item]="spamItem"></app-email-item>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <app-email-item-details
      [isDetailsShow]="emailDetailsActive"
      (hideDetailsClick)="showEmailDetails($event)"></app-email-item-details>
  </div>


  <ng-template #composeEmail>
    <div id="compose-email-popup">
      <app-email-compose-body [isCloseModal]=true cardClass="mb-0" cardTitle="float-left">
        <button type="button" class="float-right close" modal-close aria-label="Close" (click)="modalRef.hide()">
          <i class="ri-close-fill"></i>
        </button>
      </app-email-compose-body>
    </div>
  </ng-template>

</div>
