<div class="row">
    <div class="col-sm-12 col-lg-6">
        <app-iq-card>
          <div card-header class="iq-header-title">
            <h4 class="card-title">Tooltips</h4>
         </div>
         <p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>
         <button type="button" class="btn btn-default btn-secondary m-1" tooltip="Tooltip on top" placement="top">
            Tooltip on top
         </button>
         <button type="button" class="btn btn-default btn-secondary m-1" tooltip="Tooltip on right" placement="right">
            Tooltip on right
         </button>
         <button type="button" class="btn btn-default btn-secondary m-1" tooltip="Tooltip on bottom" placement="bottom">
          Tooltip on bottom
         </button>
         <button type="button" class="btn btn-default btn-secondary m-1" tooltip="Tooltip on left" placement="left">
          Tooltip on left
         </button>
        </app-iq-card>
        <app-iq-card>
          <div card-header class="iq-header-title">
            <h4 class="card-title">Disabled elements</h4>
         </div>
         <p>Elements with the <code>disabled</code> attribute aren’t interactive, meaning users cannot focus, hover, or click them to trigger a tooltip (or popover). As a workaround, you’ll want to trigger the tooltip from a wrapper <code>&lt;div&gt;</code> or <code>&lt;span&gt;</code>, ideally made keyboard-focusable using <code>tabindex="0"</code>, and override the <code>pointer-events</code> on the disabled element.</p>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
            <button type="button" class="btn btn-default btn-primary m-1 disabled" tooltip="Disabled tooltip" placement="top">
              Disabled button
           </button>
          </span>
        </app-iq-card>
    </div>
    <div class="col-sm-12 col-lg-6">
      <app-iq-card>
        <div card-header class="iq-header-title">
          <h4 class="card-title">Tooltips</h4>
       </div>
       <p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>
       <button type="button" class="btn btn-default btn-primary m-1" tooltip="Tooltip on top" placement="top">
        Tooltip on top
       </button>
       <button type="button" class="btn btn-default btn-success m-1" tooltip="Tooltip on right" placement="right">
        Tooltip on right
       </button>
       <button type="button" class="btn btn-default btn-danger m-1" tooltip="Tooltip on bottom" placement="bottom">
        Tooltip on bottom
       </button>
       <button type="button" class="btn btn-default btn-info m-1" tooltip="Tooltip on left" placement="left">
        Tooltip on left
       </button>
      </app-iq-card>
      <app-iq-card>
        <div card-header class="iq-header-title">
          <h4 class="card-title">Tooltips</h4>
       </div>
       <p>Images in Bootstrap are made responsive with <code>.img-fluid</code>. <code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with the parent element.</p>
       <button type="button" class="btn btn-default iq-bg-primary m-1" tooltip="Tooltip on top" placement="top">
        Tooltip on top
       </button>
       <button type="button" class="btn btn-default iq-bg-success m-1" tooltip="Tooltip on right" placement="right">
        Tooltip on right
       </button>
       <button type="button" class="btn btn-default iq-bg-danger m-1" tooltip="Tooltip on bottom" placement="bottom">
        Tooltip on bottom
       </button>
       <button type="button" class="btn btn-default iq-bg-info m-1" tooltip="Tooltip on left" placement="left">
        Tooltip on left
       </button>
      </app-iq-card>
    </div>
    <div class="col-lg-12">
      <app-iq-card>
        <div card-header class="iq-header-title">
          <h4 class="card-title">Disabled elements</h4>
       </div>
       <p>Elements with the <code>disabled</code> attribute aren’t interactive, meaning users cannot focus, hover, or click them to trigger.</p>
        <!-- HTML to write -->
        <a href="javascript:void(0);"  tooltip="Some tooltip text!" placement="top">Hover over me</a>
        <!-- Generated markup by the plugin -->
      </app-iq-card>
    </div>
</div>
